alembic==1.8.1
certifi
click
colorama
Flask
gunicorn
Flask-Cors
Flask-JWT-Extended==4.4.4
Flask-Login
Flask-Migrate==4.0.0
Flask-RESTful
Flask-SQLAlchemy
greenlet
importlib-metadata
itsdangerous
Jinja2
Mako==1.2.4
MarkupSafe
PyJWT==2.6.0
python-dateutil
pytz
six
SQLAlchemy
uuid==1.30
Werkzeug
wincertstore==0.2
zipp
